$screen-max: 1920px;
$screen-xxl: 1366px;
$screen-xl: 1280px;
$screen-lt-xl: $screen-xl - 1;
$screen-lg: 1024px;
$screen-gt-lg: $screen-lg + 1;
$screen-lt-lg: $screen-lg - 1;
$screen-md: 768px;
$screen-gt-md: $screen-md + 1;
$screen-lt-md: 580px;
$screen-sm: 480px;
$screen-xs: 320px;
