@import "../../responsive.scss";

.hipster {
  display: inline-block;
  width: 100%;
  height: 497px;
  background: url('../../../content/images/jhipster_family_member_1.svg') no-repeat center top;
  background-size: contain;
}

.lastMonthDelta {
  font-size: 0.7em;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;

  border-bottom: 10px solid green;
  display: inline-block;
  margin-right: 5px;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;

  border-top: 10px solid #f00;
  display: inline-block;
  margin-right: 5px;
}

.systemAvailability {
  padding: 5px;
  border: 1px solid  #a7a7a7;
}

.systemAvailabilityTitle {
  text-transform: uppercase;
  color: #a7a7a7;
  text-align: center;
  letter-spacing: 0.8em;
  font-size: 0.95em;

  @media (max-width: $screen-md) {
    font-size: 0.8em;
  }
}

.chartTitle {
  font-size: 1.4em;
  text-align: center;
}

.center {
  text-align: center;
}

.lastMonthDeltaContainer {
  @media (min-width: $screen-gt-md) {
    margin-left: -5px;
  }
}

.locationAvailability {
  @media (max-width: $screen-md) {
    .locationName {
      padding-top: 10px;
    }
    .lastMonthDeltaColumn {
      margin-bottom: 20px;
    }
  }

  @media (max-width: $screen-xl) {
    text-align: center;

  }
  @media (min-width: $screen-gt-md) {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.locationName {
  @media (max-width: $screen-xl) {
    font-size: 0.8em;
  }
  text-transform: capitalize;

}

.mainChartDelta {
  text-align: center;
  padding-top: 10px;
  @media (max-width: $screen-md) {
    margin-bottom: 20px;
  }
  @media (min-width: $screen-gt-md) {
    margin-left: -40px;
  }
}

.chartLabel {
  position: absolute;
  bottom: 10%;
  left: 43%;

  @media (max-width: $screen-xl) {
    font-size: 0.8em;
    left: 45%;
  }


}

.historicalAvailability {
  @media (max-width: $screen-md) {
    margin-top: 20px;
  }
}

.mainChartLabel {
  position: absolute;
  bottom: 20%;
  left: 45%;
  font-size: 1.4em;

  @media (max-width: $screen-xl) {
    font-size: 0.8em;
    left: 45%;
  }


}

.mainChartSubLabel {
  position: absolute;
  bottom: 5%;
  left: 37%;
  font-size: 1.2em;
  color: #a7a7a7;

  @media (max-width: $screen-xl) {
    font-size: 0.8em;
  }


}
